.header {
    width: 100%;
}

.navegacion {
    background-color: rgba(245, 60, 60, 0.982);
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion ul {
    list-style: none;
    
}
.menu{
    padding-left: 30px;
}
.menu>li{ /*hay que darle position relative a los elementes del menu(.menu>li) para que despues el .submenu, mediante position: absolute; herede el ancho del padre(.menu)*/
    display: inline-block;
    position: relative;
}
.menu>li>a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: aliceblue;
}

.menu li a:hover{
    
    color: rgb(248, 213, 57);
    transition: all .3s;
}
.submenu{
    position: absolute;
    background-color: rgb(0, 0, 0);
    visibility: hidden;/*es para que se esconda*/
    opacity: 0;
    transition: opacity 1s;
    width: 110%;/*para que tenga el 120% del tamaño del padre (.menu>li)*/
}
.submenu li a {
    text-decoration: none;
    color: aliceblue;
    
}
.submenu li{
     padding: 15px;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


