<div class="header">
  <ul>
    <li>
      <!--<img class="logo" src="https://fundeu.fiile.org.ar/uploadsfotos/voley.jpg">-->
    </li>
  </ul>

  <nav class="navegacion">
    <ul class="menu">
      <li><a href="">Inicio</a></li>
      <li>
        <a href="">Deportes</a>
        <ul class="submenu">
          <li><a (click)="filtro('Futbol')" href="">Futbol</a></li>
          <li><a href="">Voley</a></li>
          <li><a href="">Basquet</a></li>
        </ul>
      </li>
      <li><a href="">Sobre nosotros</a></li>

      <input placeholder="Buscar" type="text" />
    </ul>
  </nav>
</div>
